@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Colors */
:root {
  --header-footer-bg-color: #f6f6f6;
  --main-color: #ffb832;
  --quiz-color: #0d3759;
  --container-border: 1px solid lightgray;
  --primary-bg-color: #0264f8;
  --success-bg-color: #cbead5;
  --success-color: #0f512a;
  --danger-bg-color: #fad1d5;
  --danger-color: #7c333a;
  --main-transition: all 0.3s ease;
}

/* Utils */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.hide {
  pointer-events: none;
  opacity: 0;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.success {
  background-color: var(--success-bg-color) !important;
  color: var(--success-color);
  pointer-events: none;
}

.danger {
  background-color: var(--danger-bg-color) !important;
  color: var(--danger-color);
  pointer-events: none;
}

.disabled {
  pointer-events: none;
}

.bg-primary {
  background-color: var(--primary-bg-color) !important;
  color: white;
  font-size: 15px;
  color: white;
  padding: 5px 10px;
}

.start-quiz-btn {
  background-color: var(--main-color);
}

/* Container */
.container {
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Header */
.header {
  border: var(--container-border);
  border-radius: 5px 5px 0 0;
  background-color: var(--header-footer-bg-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.timeline {
  width: 0;
  height: 4px;
  background-color: var(--main-color);
}

@keyframes timeline {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--quiz-color);
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.time {
  border-radius: 3px;
  padding: 3px 8px;
  background-color: var(--main-color);
}

/* Quiz Container */
.quiz-container {
  border-left: var(--container-border);
  border-right: var(--container-border);
  padding: 20px;
}

/* Quiz */
.quiz-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.quiz-item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.quiz-item i {
  font-size: 20px;
}

.quiz-item div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.quiz-item:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.quiz-item span {
  font-weight: 700;
}

/* Footer */
.footer {
  border: var(--container-border);
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--header-footer-bg-color);
}

.count-container {
  border-radius: 5px;
  background-color: var(--main-color);
  padding: 2px 10px;
  font-size: 15px;
  font-weight: 700;
  color: white;
}

/* Total Container */
.total-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.total-container {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.total-container i {
  font-size: 100px;
  color: var(--primary-bg-color);
}
